*,
root,
html {
  padding: 5px;
  box-sizing: border-box;
}

body {
  background: #f2f3f5;
}

.btn_support {
  float: right;
  width: 153px;
  height: 56px;

  background: #00d154;
  border-radius: 68px;
  text-align: center;
  color: #fff;
  outline: none;
  border: 0;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  position: absolute;
  bottom: 30px;
  right: 10px;
  cursor: pointer;
}

.btn_support:hover {
  opacity: 0.9;
}

.chat {
  display: none;
  font-family: "Roboto", sans-serif;
}

.in_support_header {
  float: right;
  width: 320px;
  height: 56px;

  background: #00d154;

  display: flex;
  justify-content: space-between;
}

.in_support_header span {
  color: #fff;
  display: flex;
  align-items: center;
}

.icon_close {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.chat_support {
  position: absolute;
  max-width: 330px;
  right: 10px;
  animation: up 1s;
}

.chat_support_hide {
  animation: down 1s;
  animation-fill-mode: forwards;
}

@keyframes up {
  from {
    transform: translateY(60vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100vh);
  }
}

.client {
  display: flex;
  flex-direction: column;
}

.client .name {
  color: #cec9c9;
  font-size: 12px;
  text-align: end;
}

.client_message {
  background: #37cc73;
  padding: 20px 10px;
  margin: 10px 0;
  width: 250px;
  margin-left: 30px;
  line-height: 20px;
}

.client .message {
  background: #37cc73;
  padding: 10px;
  width: 250px;
  margin-left: 30px;
  border-radius: 4px;
  line-height: 20px;
  color: #fff;
}

.text_support {
  border: 1px solid #cec9c9;
  max-height: 500px;
  overflow-y: scroll;

  background-color: #fff;
}

.admin {
  display: flex;
  flex-direction: column;
}

.admin .message {
  width: 230px;
  background: #2c6fdb;
  border-radius: 4px;
  padding: 10px;
  margin-left: 12px;
}

.admin_name {
  font-size: 12px;
}

.message_send {
  display: flex;
  justify-content: space-between;
  border: 1px solid #cec9c9;
  align-items: center;
  background-color: #fff;
}

.message_send input {
  outline: none;
  border: none;

  height: 34px;
  align-items: center;
  width: 252px;
}

.send_message_button {
  display: flex;
  cursor: pointer;
}

.send_message_button img {
  width: 42px;
}

.send_message_button:hover img {
  background-color: #fafafa;
  border-radius: 8px;
}

.concluded_chat{
  cursor: pointer;
}

.concluded_chat img {
  width: 42px;
}

.concluded_chat:hover img {
  background-color: #0ff76c;
  border-radius: 8px;
}

.line {
  border: 1px solid #e9e9e9;
  padding: 0;
  margin: 0;
}

.text_help {
  padding-top: 8px;
}

.text_help textarea {
  width: 290px;
  height: 115px;

  margin-top: 5px;
  padding: 10px;

  background: #f2f3f5;
  border: 1px solid #dddddd;
  box-sizing: border-box;

  resize: none;
}

.first_email {
  display: flex;
  flex-direction: column;
  margin-top: 34px;
}

.first_email input {
  border: 1px solid #dddddd;
  box-sizing: border-box;
  height: 42px;
  width: 290px;
}

input[type="text"]:focus {
  outline: none;
}

.btn_start_chat {
  width: 121px;
  height: 40px;

  background: #00d154;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn_start_chat:hover {
  opacity: 0.8;
}

.btn_cancel {
  border: 0;
  cursor: pointer;
  margin-right: 10px;

  color: #00d154;
  background-color: transparent;
}

.btn_cancel:hover {
  color: red;
  text-decoration: underline;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

#txt_help {
  background-color: #fff;
}

#txt_help:focus {
  outline: none;
}

.charac_remaining {
  font-size: 10px;
  float: right;
}

.date {
  text-align: right;
  font-size: 1px;
}

.btn_atd {
  cursor: pointer;
  color: #fff;
  background: #00d154;
  border: none;
  height: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.btn_atd:hover {
  opacity: 0.9;
}

.admin {
  margin-top: 5px;
  color: #fff;
}

.admin-template {
  background-color: #fff;
  margin: 10px;
}

.supports {
  display: flex;
  flex-direction: row;

  position: absolute;
  width: 500px;
}

.admin .admin_name {
  color: #cec9c9;
}

.email {
  float: left;
  width: 350px;
}

.admin_send_message {
  display: flex;
  flex-direction: row;

  border-top: 2px solid #cec9c9;
}

.admin_send_message input {
  width: 300px;
  margin-right: 10px;

  border: none;
}

.admin_send_message button {
  width: 120px;
  cursor: pointer;
}

.admin_list_messages {
  height: 300px;
  overflow-y: scroll;
}

.admin_message_admin {
  width: 300px;
  background: #2c6fdb;
  color: #fff;
  padding: 10px;
  margin: 12px 40px 12px 80px;
  display: flex;
  flex-direction: column;

  border-radius: 10px;

  font-family: "Roboto", sans-serif;
}

#atendimentos {
  width: 600px;
}

.admin_message_client {
  width: 300px;
  background: #37cc73;
  padding: 10px;
  margin: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  font-family: "Roboto", sans-serif;
}

.admin_user_email {
  font-size: 12px;
}

.admin_date {
  font-size: 10px;
  color: #fff;
}

.div_in_support {
  background: #5bde90;
  width: 100%;
}

.in_support {
  color: #fff;
  font-size: 17px;
}

.btn_send {
  background: #1eb363;
  color: #eee;
  border: none;
}

.btn_send:hover {
  opacity: 0.8;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
